Source: libdesktop-agnostic
Section: libs
Priority: extra
Maintainer: Mark Lee <launchpad-net@lazymalevolence.com>
Build-Depends: debhelper (>= 7),
# for waf
               python,
# "real" deps
               valac (>= 0.7.0),
               libvala-dev (>= 0.7.0),
               libglib2.0-dev (>= 2.16.0),
               libgtk2.0-dev,
# module deps
               libgconf2-dev,
               libthunar-vfs-1-dev,
               libdbus-glib-1-dev,
               libgnomevfs2-dev,
               libgnome-desktop-dev,
Standards-Version: 3.8.0
Homepage: https://launchpad.net/libdesktop-agnostic

Package: libdesktop-agnostic0
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libglib2.0-0, 
		libgtk2.0-0
Suggests: libdesktop-agnostic-vfs, libdesktop-agnostic-cfg, libdesktop-agnostic-de
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the core library.

Package: libdesktop-agnostic-vfs-gnome
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libgnomevfs2-0
Provides: libdesktop-agnostic-vfs
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GNOME VFS module.

Package: libdesktop-agnostic-vfs-thunar
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libthunar-vfs-1-2, 
		libdbus-glib-1-2
Provides: libdesktop-agnostic-vfs
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the Thunar VFS module.

Package: libdesktop-agnostic-vfs-gio
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libglib2.0-0 (>= 2.16.0)
Provides: libdesktop-agnostic-vfs
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GIO module.

Package: libdesktop-agnostic-cfg-gconf
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libgconf2-4
Provides: libdesktop-agnostic-cfg
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GConf module.

Package: libdesktop-agnostic-de-gnome
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libgnome-desktop-2-11
Provides: libdesktop-agnostic-de
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GNOME Desktop-based desktop entry module.

Package: libdesktop-agnostic-de-glib
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
Provides: libdesktop-agnostic-de
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GLib-based desktop entry module.

Package: libdesktop-agnostic0-dbg
Section: debug
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version})
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the debugging symbols for the core library.

Package: libdesktop-agnostic-dev
Architecture: any
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (= ${binary:Version}), 
		libglib2.0-dev, 
		libgtk2.0-dev
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the development files for the core library.

Package: vala-libdesktop-agnostic
Architecture: all
Depends: 	${shlibs:Depends}, 
		${misc:Depends}, 
		libdesktop-agnostic0 (>= ${source:Version}), 
		valac (>= 0.5.8)
Description: A desktop-agnostic library for GLib-based projects.
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the Vala bindings for the core library.
