#!/usr/bin/make -f

build:
	dh $@ --before configure
	LINKFLAGS="${LDFLAGS} -Wl,--as-needed" ./waf --nocache configure --prefix=/usr --enable-debug --config-backends=gconf,keyfile --vfs-backends=gio,gnome-vfs,thunar-vfs --desktop-entry-backends=glib,gnome
	./waf --nocache build
	dh $@ --remaining

install: build
	dh $@ --until dh_auto_install
	./waf --nocache install --destdir=$(CURDIR)/debian/tmp
	dh $@ --remaining

binary-arch: install
	dh $@ --remaining --before dh_strip
	dh_strip --dbg-package=libdesktop-agnostic0-dbg
	dh $@ --remaining

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep

clean:
	dh $@
	rm -rf build
	./waf --nocache distclean
	rm -f configure	# so dh_auto_configure doesn't try to use this broken fallback
